dify_customer_service/workflow_pageindex_customer_service_optimized.yml
---
app:
  description: "智能售后客服 - LLM意图分类 + 完整上下文记忆"
  icon: "\U0001F916"
  icon_background: "#E3F2FD"
  mode: advanced-chat
  name: 售后客服-PageIndex版-智能版
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: 用户意图(order/docs/chat)
    id: a1b2c3d4-e5f6-7890-abcd-000000000001
    name: intent
    selector:
    - conversation
    - intent
    value: ''
    value_type: string
  - description: 订单号
    id: a1b2c3d4-e5f6-7890-abcd-000000000002
    name: order_no
    selector:
    - conversation
    - order_no
    value: ''
    value_type: string
  - description: 订单详情JSON
    id: a1b2c3d4-e5f6-7890-abcd-000000000003
    name: order_detail
    selector:
    - conversation
    - order_detail
    value: ''
    value_type: string
  - description: 商品名称
    id: a1b2c3d4-e5f6-7890-abcd-000000000004
    name: product
    selector:
    - conversation
    - product
    value: ''
    value_type: string
  - description: 文档场景
    id: a1b2c3d4-e5f6-7890-abcd-000000000005
    name: scene
    selector:
    - conversation
    - scene
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: |
      你好！我是嘉宁测试电商的售后助手 👋

      我可以帮你：
      • 查订单、看物流
      • 退货退款咨询
      • 质量问题、换新维修
      • 安装使用指导

      直接说你的问题就行，比如"我的订单到哪了"、"想退货"、"东西坏了"。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 查订单 JN202603150001
    - 我想退货怎么办
    - 物流一直不更新
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: e-start-slots
      source: start
      sourceHandle: source
      target: extract_slots
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e-slots-llm
      source: extract_slots
      sourceHandle: source
      target: intent_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: e-llm-parse
      source: intent_llm
      sourceHandle: source
      target: parse_intent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: e-parse-mem
      source: parse_intent
      sourceHandle: source
      target: save_memory
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: e-mem-route
      source: save_memory
      sourceHandle: source
      target: route_intent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e-route-order
      source: route_intent
      sourceHandle: order
      target: build_order_params
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: e-order-params-api
      source: build_order_params
      sourceHandle: source
      target: query_order_api
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: e-api-parse-order
      source: query_order_api
      sourceHandle: source
      target: parse_order_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: e-parse-save
      source: parse_order_result
      sourceHandle: source
      target: save_order_detail
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: e-save-reply
      source: save_order_detail
      sourceHandle: source
      target: order_reply_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: e-reply-order
      source: order_reply_llm
      sourceHandle: source
      target: answer_order
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: e-route-docs-scene
      source: route_intent
      sourceHandle: docs
      target: save_scene
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: e-scene-api
      source: save_scene
      sourceHandle: source
      target: search_docs_api
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: e-api-parse-docs
      source: search_docs_api
      sourceHandle: source
      target: parse_docs_result
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e-parse-docs-llm
      source: parse_docs_result
      sourceHandle: source
      target: docs_reply_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: e-llm-docs
      source: docs_reply_llm
      sourceHandle: source
      target: answer_docs
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: e-route-chat
      source: route_intent
      sourceHandle: chat
      target: chat_reply_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: e-chat-answer
      source: chat_reply_llm
      sourceHandle: source
      target: answer_chat
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 订单号（可选）
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: order_no
      height: 100
      id: start
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import re
          import json

          def main(query: str, start_order_no: str = '',
                   mem_order_no: str = '', mem_order_detail: str = '', mem_product: str = '') -> dict:
              text = (query or '').strip()

              # 提取订单号
              order_no = (start_order_no or '').strip()
              if not order_no:
                  patterns = [r'\bJN\d{12}\b', r'\b[A-Z]{2}\d{8,}\b']
                  for p in patterns:
                      m = re.search(p, text, re.I)
                      if m:
                          order_no = m.group(0).upper()
                          break

              # 使用记忆的订单号
              if not order_no and mem_order_no:
                  order_no = mem_order_no

              # 解析订单详情
              order_detail = {}
              if mem_order_detail:
                  try:
                      order_detail = json.loads(mem_order_detail)
                  except:
                      pass

              # 商品
              product = mem_product or (order_detail.get('items', [''])[0] if order_detail else '')

              return {
                  'order_no': order_no,
                  'has_order_context': bool(order_detail),
                  'product': product,
              }
        code_language: python3
        desc: 提取槽位信息
        outputs:
          order_no:
            children:
            type: string
          has_order_context:
            children:
            type: boolean
          product:
            children:
            type: string
        selected: false
        title: 槽位提取
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - start
          - order_no
          value_type: string
          variable: start_order_no
        - value_selector:
          - conversation
          - order_no
          value_type: string
          variable: mem_order_no
        - value_selector:
          - conversation
          - order_detail
          value_type: string
          variable: mem_order_detail
        - value_selector:
          - conversation
          - product
          value_type: string
          variable: mem_product
      height: 110
      id: extract_slots
      position:
        x: 340
        y: 300
      positionAbsolute:
        x: 340
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: LLM意图识别
        memory:
          enabled: false
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
            max_tokens: 200
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: |
            你是售后客服意图识别器。分析用户输入，输出JSON。

            意图类型：
            - order: 查订单、物流、发货、退款进度、催发货
            - docs: 咨询退货规则、质保政策、使用方法、售后政策
            - chat: 闲聊、投诉、其他

            场景类型（仅docs需要）：
            - refund: 退货退款
            - logistics: 发货物流
            - warranty: 质保换新
            - usage: 安装使用
            - other: 其他

            输出格式：
            {"intent": "order/docs/chat", "scene": "xxx", "confidence": 0.9}
            只输出JSON，不要解释。
        - role: user
          text: |
            已有订单号: {{#extract_slots.order_no#}}
            有订单上下文: {{#extract_slots.has_order_context#}}
            用户输入: {{#sys.query#}}
        retry_config:
          enabled: false
        selected: false
        structured_output:
          enabled: false
        title: LLM意图识别
        type: llm
        variables: []
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 90
      id: intent_llm
      position:
        x: 640
        y: 300
      positionAbsolute:
        x: 640
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json

          def main(llm_output: str, order_no: str = '') -> dict:
              try:
                  result = json.loads(llm_output)
              except:
                  result = {'intent': 'chat', 'scene': 'other', 'confidence': 0.5}

              intent = result.get('intent', 'chat')
              scene = result.get('scene', 'other')
              confidence = result.get('confidence', 0.5)

              # 路由判断
              route = 'chat'
              if intent == 'order' and order_no:
                  route = 'order'
              elif intent == 'docs':
                  route = 'docs'
              elif intent == 'order' and not order_no:
                  route = 'chat'  # 没订单号走chat引导

              if confidence < 0.5:
                  route = 'chat'

              return {
                  'intent': intent,
                  'scene': scene,
                  'confidence': confidence,
                  'route': route,
              }
        code_language: python3
        desc: 解析意图结果
        outputs:
          intent:
            children:
            type: string
          scene:
            children:
            type: string
          confidence:
            children:
            type: number
          route:
            children:
            type: string
        selected: false
        title: 解析意图
        type: code
        variables:
        - value_selector:
          - intent_llm
          - text
          value_type: string
          variable: llm_output
        - value_selector:
          - extract_slots
          - order_no
          value_type: string
          variable: order_no
      height: 90
      id: parse_intent
      position:
        x: 940
        y: 300
      positionAbsolute:
        x: 940
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - parse_intent
          - intent
          variable_selector:
          - conversation
          - intent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - parse_intent
          - scene
          variable_selector:
          - conversation
          - scene
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - extract_slots
          - order_no
          variable_selector:
          - conversation
          - order_no
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - extract_slots
          - product
          variable_selector:
          - conversation
          - product
          write_mode: over-write
        selected: false
        title: 记忆上下文
        type: assigner
        version: '2'
      height: 84
      id: save_memory
      position:
        x: 1240
        y: 300
      positionAbsolute:
        x: 1240
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: order
          conditions:
          - comparison_operator: is
            value: order
            varType: string
            variable_selector:
            - parse_intent
            - route
          logical_operator: and
        - case_id: docs
          conditions:
          - comparison_operator: is
            value: docs
            varType: string
            variable_selector:
            - parse_intent
            - route
          logical_operator: and
        desc: ''
        selected: false
        title: 意图路由
        type: if-else
      height: 150
      id: route_intent
      position:
        x: 1540
        y: 300
      positionAbsolute:
        x: 1540
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          def main(order_no: str, query: str = '') -> dict:
              return {
                  'order_no': order_no,
                  'phone_tail': '',
                  'user_query': query,
              }
        code_language: python3
        desc: ''
        outputs:
          order_no:
            children:
            type: string
          phone_tail:
            children:
            type: string
          user_query:
            children:
            type: string
        selected: false
        title: 构造查单参数
        type: code
        variables:
        - value_selector:
          - extract_slots
          - order_no
          value_type: string
          variable: order_no
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 90
      id: build_order_params
      position:
        x: 1840
        y: 150
      positionAbsolute:
        x: 1840
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
          type: no-auth
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"order_no":"{{#build_order_params.order_no#}}","phone_tail":"{{#build_order_params.phone_tail#}}","user_query":"{{#build_order_params.user_query#}}"}'
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          retry_enabled: false
          max_retries: 1
          retry_interval: 1000
        ssl_verify: true
        timeout:
          connect: 10
          read: 30
          write: 30
        title: 查询订单API
        type: http-request
        url: http://jianing_mock:8787/orders/query
        variables: []
      height: 120
      id: query_order_api
      position:
        x: 2140
        y: 150
      positionAbsolute:
        x: 2140
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json

          def main(response: str, query: str = '') -> dict:
              try:
                  data = json.loads(response)
              except:
                  return {'order_json': '', 'found': False, 'status': '', 'items': '', 'carrier': '', 'tracking': '', 'progress': ''}

              found = data.get('found', False)
              return {
                  'order_json': json.dumps(data, ensure_ascii=False) if found else '',
                  'found': found,
                  'status': data.get('status', ''),
                  'items': '、'.join(data.get('items', [])),
                  'carrier': data.get('carrier', ''),
                  'tracking': data.get('tracking_no', ''),
                  'progress': data.get('latest_progress', ''),
                  'refund': data.get('refund_status', ''),
              }
        code_language: python3
        desc: ''
        outputs:
          order_json:
            children:
            type: string
          found:
            children:
            type: boolean
          status:
            children:
            type: string
          items:
            children:
            type: string
          carrier:
            children:
            type: string
          tracking:
            children:
            type: string
          progress:
            children:
            type: string
          refund:
            children:
            type: string
        selected: false
        title: 解析订单
        type: code
        variables:
        - value_selector:
          - query_order_api
          - body
          value_type: string
          variable: response
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 90
      id: parse_order_result
      position:
        x: 2440
        y: 150
      positionAbsolute:
        x: 2440
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - parse_order_result
          - order_json
          variable_selector:
          - conversation
          - order_detail
          write_mode: over-write
        selected: false
        title: 记忆订单
        type: assigner
        version: '2'
      height: 84
      id: save_order_detail
      position:
        x: 2740
        y: 150
      positionAbsolute:
        x: 2740
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 智能生成订单回复
        memory:
          enabled: false
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 512
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: |
            你是嘉宁测试电商的售后客服，正在帮用户查询订单。

            回复要求：
            1. 语气亲切自然，像真人客服
            2. 根据用户问题重点回复，不要堆砌信息
            3. 可以引导用户继续提问
            4. 如果订单未找到，友好提示核对订单号
        - role: user
          text: |
            用户问题：{{#sys.query#}}

            订单查询结果：
            - 是否找到：{{#parse_order_result.found#}}
            - 订单号：{{#extract_slots.order_no#}}
            - 状态：{{#parse_order_result.status#}}
            - 商品：{{#parse_order_result.items#}}
            - 快递：{{#parse_order_result.carrier#}}（{{#parse_order_result.tracking#}}）
            - 退款状态：{{#parse_order_result.refund#}}
            - 最新进度：{{#parse_order_result.progress#}}

            请回复用户：
        retry_config:
          enabled: false
        selected: false
        structured_output:
          enabled: false
        title: 订单回复LLM
        type: llm
        variables: []
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 90
      id: order_reply_llm
      position:
        x: 3040
        y: 150
      positionAbsolute:
        x: 3040
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#order_reply_llm.text#}}'
        desc: ''
        selected: false
        title: 回复-订单
        type: answer
        variables: []
      height: 105
      id: answer_order
      position:
        x: 3340
        y: 150
      positionAbsolute:
        x: 3340
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - parse_intent
          - scene
          variable_selector:
          - conversation
          - scene
          write_mode: over-write
        selected: false
        title: 记忆场景
        type: assigner
        version: '2'
      height: 84
      id: save_scene
      position:
        x: 1840
        y: 300
      positionAbsolute:
        x: 1840
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
          type: no-auth
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"q":"{{#sys.query#}}","scene":"{{#parse_intent.scene#}}"}'
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          retry_enabled: false
          max_retries: 1
          retry_interval: 1000
        ssl_verify: true
        timeout:
          connect: 10
          read: 60
          write: 60
        title: PageIndex检索
        type: http-request
        url: http://pageindex_official:8790/search
        variables: []
      height: 120
      id: search_docs_api
      position:
        x: 2140
        y: 300
      positionAbsolute:
        x: 2140
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json

          def main(response: str, query: str = '', scene: str = '') -> dict:
              try:
                  data = json.loads(response)
              except:
                  data = {}

              answer = data.get('answer', '')
              hits = data.get('hits', [])

              return {
                  'answer': answer,
                  'hits_json': json.dumps(hits[:3], ensure_ascii=False),
                  'has_answer': bool(answer),
              }
        code_language: python3
        desc: ''
        outputs:
          answer:
            children:
            type: string
          hits_json:
            children:
            type: string
          has_answer:
            children:
            type: boolean
        selected: false
        title: 解析文档结果
        type: code
        variables:
        - value_selector:
          - search_docs_api
          - body
          value_type: string
          variable: response
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - parse_intent
          - scene
          value_type: string
          variable: scene
      height: 90
      id: parse_docs_result
      position:
        x: 2440
        y: 300
      positionAbsolute:
        x: 2440
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 智能生成文档咨询回复
        memory:
          enabled: false
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 800
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: |
            你是嘉宁测试电商的售后客服助手。

            回复要求：
            1. 语气亲切自然，像真人客服
            2. 基于检索到的内容回答，不要编造
            3. 如果信息不足，诚实说明并建议转人工
            4. 可以引导用户提供更多信息（如订单号、照片）
        - role: user
          text: |
            用户问题：{{#sys.query#}}
            相关场景：{{#parse_intent.scene#}}
            已有订单号：{{#extract_slots.order_no#}}
            商品：{{#extract_slots.product#}}

            检索到的答案：{{#parse_docs_result.answer#}}

            请回复用户：
        retry_config:
          enabled: false
        selected: false
        structured_output:
          enabled: false
        title: 文档回复LLM
        type: llm
        variables: []
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 90
      id: docs_reply_llm
      position:
        x: 2740
        y: 300
      positionAbsolute:
        x: 2740
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#docs_reply_llm.text#}}'
        desc: ''
        selected: false
        title: 回复-文档
        type: answer
        variables: []
      height: 105
      id: answer_docs
      position:
        x: 3040
        y: 300
      positionAbsolute:
        x: 3040
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 处理闲聊和引导
        memory:
          enabled: false
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 256
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: |
            你是嘉宁测试电商的售后客服助手。

            用户的问题暂时无法归入订单查询或售后咨询，请友好回应并引导。

            引导建议：
            - 想查订单但没订单号：请提供订单号（格式如 JN202603150001）
            - 咨询售后：可直接描述问题，如退货、物流、质保
            - 投诉：表示理解并提供帮助
        - role: user
          text: |
            用户输入：{{#sys.query#}}
            识别意图：{{#parse_intent.intent#}}
            已有订单号：{{#extract_slots.order_no#}}

            请回复：
        retry_config:
          enabled: false
        selected: false
        structured_output:
          enabled: false
        title: 对话回复LLM
        type: llm
        variables: []
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 90
      id: chat_reply_llm
      position:
        x: 1840
        y: 450
      positionAbsolute:
        x: 1840
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#chat_reply_llm.text#}}'
        desc: ''
        selected: false
        title: 回复-对话
        type: answer
        variables: []
      height: 105
      id: answer_chat
      position:
        x: 2140
        y: 450
      positionAbsolute:
        x: 2140
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.4