dify_customer_service/workflow_pageindex_customer_service.yml
app:
  description: After-sales customer service workflow with LLM routing, PageIndex docs search, and order API lookup.
  icon: "🤖"
  icon_background: '#EFF1F5'
  mode: advanced-chat
  name: 售后客服-PageIndex版-v3
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: '你好，我是售后助手。你可以问售后规则、物流、质保、安装使用，或者查询订单。'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-route-llm
      source: start
      sourceHandle: source
      target: route_l1_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: route-llm-if
      source: route_l1_llm
      sourceHandle: source
      target: route_l1_if
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: l1-order
      source: route_l1_if
      sourceHandle: order
      target: extract_order_params
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: order-extract-query
      source: extract_order_params
      sourceHandle: source
      target: query_order_api
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: l1-docs
      source: route_l1_if
      sourceHandle: docs
      target: route_doc_scene_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: l1-fallback
      source: route_l1_if
      sourceHandle: 'false'
      target: fallback_prep
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: fallback-prep-agent
      source: fallback_prep
      sourceHandle: source
      target: fallback_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: fallback-agent-answer
      source: fallback_agent
      sourceHandle: source
      target: answer_fallback
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: docs-llm-if
      source: route_doc_scene_llm
      sourceHandle: source
      target: route_doc_scene_if
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: docs-refund
      source: route_doc_scene_if
      sourceHandle: refund
      target: build_query_refund
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: docs-logistics
      source: route_doc_scene_if
      sourceHandle: logistics
      target: build_query_logistics
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: docs-warranty
      source: route_doc_scene_if
      sourceHandle: warranty
      target: build_query_warranty
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: docs-usage
      source: route_doc_scene_if
      sourceHandle: usage
      target: build_query_usage
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: docs-other
      source: route_doc_scene_if
      sourceHandle: other
      target: build_query_other
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: refund-http
      source: build_query_refund
      sourceHandle: source
      target: search_pageindex_refund
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: logistics-http
      source: build_query_logistics
      sourceHandle: source
      target: search_pageindex_logistics
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: warranty-http
      source: build_query_warranty
      sourceHandle: source
      target: search_pageindex_warranty
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: usage-http
      source: build_query_usage
      sourceHandle: source
      target: search_pageindex_usage
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: other-http
      source: build_query_other
      sourceHandle: source
      target: search_pageindex_other
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: refund-parse
      source: search_pageindex_refund
      sourceHandle: source
      target: parse_pageindex_refund
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: logistics-parse
      source: search_pageindex_logistics
      sourceHandle: source
      target: parse_pageindex_logistics
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: warranty-parse
      source: search_pageindex_warranty
      sourceHandle: source
      target: parse_pageindex_warranty
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: usage-parse
      source: search_pageindex_usage
      sourceHandle: source
      target: parse_pageindex_usage
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: other-parse
      source: search_pageindex_other
      sourceHandle: source
      target: parse_pageindex_other
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: tool
      id: order-parse
      source: query_order_api
      sourceHandle: source
      target: parse_order_api
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: refund-answer
      source: parse_pageindex_refund
      sourceHandle: source
      target: answer_doc_refund
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: logistics-answer
      source: parse_pageindex_logistics
      sourceHandle: source
      target: answer_doc_logistics
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: warranty-answer
      source: parse_pageindex_warranty
      sourceHandle: source
      target: answer_doc_warranty
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: usage-answer
      source: parse_pageindex_usage
      sourceHandle: source
      target: answer_doc_usage
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: other-answer
      source: parse_pageindex_other
      sourceHandle: source
      target: answer_doc_other
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: order-answer
      source: parse_order_api
      sourceHandle: source
      target: answer_order
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 输入查单辅助信息
        selected: false
        title: 开始
        type: start
        variables:
        - label: 订单号
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: order_no
        - label: 手机后4位
          max_length: 8
          options: []
          required: false
          type: text-input
          variable: phone_tail
      height: 120
      id: start
      position:
        x: 40
        y: 240
      positionAbsolute:
        x: 40
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data: &llm_base
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}

            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_config:
          jinja2_variables: []
        code: "import re\n\nLOGISTICS_EXCEPTION_KEYWORDS = ['破损', '少件', '漏发', '签收异常', '不更新']\nORDER_DIRECT_KEYWORDS = ['查订单', '查询订单', '订单号', '订单状态', '退款进度', '催发货', '查一下订单', '帮我查订单', '查一下我订单', '我订单', '物流单号', '订单到哪', '什么时候发货', '什么时候到', '多久到', '到哪了', '到了吗', '快递什么时候到', '物流什么时候到']\nORDER_CONTEXT_KEYWORDS = ['这个订单', '这单', '这一单', '这个快递', '这个物流', '不是已经查到我订单', '为什么还要给你订单', '为什么还要提供', '你不是有订单', '已经查到我订单']\nORDER_PRODUCT_KEYWORDS = ['型号', '商品', '商品名', '这个商品', '这个订单商品', '这款', '这个杯子']\nREFUND_KEYWORDS = ['退货', '退款', '七天无理由', '不想要', '退差价', '退款多久', '退钱', '订单退款', '能退款', '能退吗', '可以退款', '可以退吗', '退款吧', '退货吧']\nUSAGE_KEYWORDS = ['安装', '使用', '说明书', '怎么用', '怎么安装', '安装说明', '如何连接', '如何开机', '如何设置', '教程', '步骤']\nWARRANTY_KEYWORDS = ['质量', '坏了', '损坏', '故障', '异响', '不能用', '失灵', '保修', '质保', '换新', '维修']\nDOCS_GENERIC_KEYWORDS = ['售后', '签收']\n\n\ndef contains_any(text: str, keywords: list[str]) -> bool:\n    return any(keyword in text for keyword in keywords)\n\n\ndef main(query: str, order_no: str = '') -> dict:\n    text = (query or '').strip()\n    normalized = re.sub(r'\\s+', '', text)\n    remembered_order = (order_no or '').strip()\n    if not normalized:\n        return {'text': 'other'}\n\n    order_patterns = [r'\\bJN\\d{12}\\b', r'\\b[A-Z]{2}\\d{8,}\\b']\n    if any(re.search(pattern, text, re.I) for pattern in order_patterns):\n        return {'text': 'order'}\n\n    order_score = 0\n    docs_score = 0\n\n    if contains_any(text, ORDER_DIRECT_KEYWORDS):\n        order_score += 3\n    if contains_any(text, REFUND_KEYWORDS + USAGE_KEYWORDS + WARRANTY_KEYWORDS + DOCS_GENERIC_KEYWORDS):\n        docs_score += 3\n\n    if ('物流' in text or '快递' in text or '发货' in text):\n        if contains_any(text, LOGISTICS_EXCEPTION_KEYWORDS):\n            docs_score += 3\n        else:\n            order_score += 2\n\n    if remembered_order:\n        if contains_any(text, ORDER_CONTEXT_KEYWORDS):\n            order_score += 3\n        if contains_any(text, ORDER_PRODUCT_KEYWORDS):\n            order_score += 1\n        if contains_any(text, REFUND_KEYWORDS):\n            docs_score += 2\n        if contains_any(text, USAGE_KEYWORDS + WARRANTY_KEYWORDS):\n            docs_score += 2\n        if normalized in ['什么时候到啊', '什么时候到', '到啊', '到没', '到了吗', '查一下我订单', '查一下我订单吧']:\n            order_score += 3\n        if len(normalized) <= 8 and contains_any(text, ['退款', '退货', '物流', '快递', '发货', '型号', '商品', '说明书']):\n            order_score += 1\n\n    if docs_score >= order_score + 1 and docs_score > 0:\n        return {'text': 'docs'}\n    if order_score > 0:\n        return {'text': 'order'}\n\n    if len(normalized) <= 4:\n        return {'text': 'other'}\n\n    if re.fullmatch(r'[A-Za-z0-9\\-_/]+', normalized):\n        return {'text': 'other'}\n\n    return {'text': 'other'}\n"
        code_language: python3
        desc: ''
        outputs:
          text:
            children: null
            type: string
        selected: false
        title: 一级分类-规则
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - start
          - order_no
          value_type: string
          variable: order_no
      height: 100
      id: route_l1_llm
      position:
        x: 340
        y: 240
      positionAbsolute:
        x: 340
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: order
          conditions:
          - comparison_operator: contains
            id: l1-order-cond
            value: order
            varType: string
            variable_selector:
            - route_l1_llm
            - text
          logical_operator: and
        - case_id: docs
          conditions:
          - comparison_operator: contains
            id: l1-docs-cond
            value: docs
            varType: string
            variable_selector:
            - route_l1_llm
            - text
          logical_operator: and
        desc: ''
        selected: false
        title: 一级分支
        type: if-else
      height: 150
      id: route_l1_if
      position:
        x: 650
        y: 240
      positionAbsolute:
        x: 650
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(query: str) -> dict:\n    text = (query or '').strip()\n    if not text:\n        return {'text': 'other'}\n\n    refund_keywords = ['退货', '退款', '七天无理由', '不想要', '退差价', '退款多久', '退钱', '订单退款', '能退款', '能退吗', '可以退款', '可以退吗']\n    logistics_keywords = ['发货', '催发货', '快递', '签收', '破损', '少件', '漏发', '物流', '不更新']\n    warranty_keywords = ['质量', '坏了', '损坏', '故障', '异响', '不能用', '失灵', '保修', '质保', '换新', '维修', '杯子坏了']\n    usage_keywords = ['安装', '使用', '说明书', '怎么用', '如何连接', '如何开机', '如何设置', '教程', '步骤', '安装说明', '型号']\n\n    if any(keyword in text for keyword in warranty_keywords):\n        return {'text': 'warranty'}\n    if any(keyword in text for keyword in refund_keywords):\n        return {'text': 'refund'}\n    if any(keyword in text for keyword in logistics_keywords):\n        return {'text': 'logistics'}\n    if any(keyword in text for keyword in usage_keywords):\n        return {'text': 'usage'}\n\n    return {'text': 'other'}\n"
        code_language: python3
        desc: ''
        outputs:
          text:
            children: null
            type: string
        selected: false
        title: 文档场景分类-规则
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 100
      id: route_doc_scene_llm
      position:
        x: 960
        y: 240
      positionAbsolute:
        x: 960
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: refund
          conditions:
          - comparison_operator: contains
            id: doc-refund-cond
            value: refund
            varType: string
            variable_selector:
            - route_doc_scene_llm
            - text
          logical_operator: and
        - case_id: logistics
          conditions:
          - comparison_operator: contains
            id: doc-logistics-cond
            value: logistics
            varType: string
            variable_selector:
            - route_doc_scene_llm
            - text
          logical_operator: and
        - case_id: warranty
          conditions:
          - comparison_operator: contains
            id: doc-warranty-cond
            value: warranty
            varType: string
            variable_selector:
            - route_doc_scene_llm
            - text
          logical_operator: and
        - case_id: usage
          conditions:
          - comparison_operator: contains
            id: doc-usage-cond
            value: usage
            varType: string
            variable_selector:
            - route_doc_scene_llm
            - text
          logical_operator: and
        - case_id: other
          conditions:
          - comparison_operator: contains
            id: doc-other-cond
            value: other
            varType: string
            variable_selector:
            - route_doc_scene_llm
            - text
          logical_operator: and
        desc: ''
        selected: false
        title: 文档场景分支
        type: if-else
      height: 240
      id: route_doc_scene_if
      position:
        x: 1270
        y: 240
      positionAbsolute:
        x: 1270
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ query }}'
        title: 构造检索词-退换货
        type: template-transform
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 54
      id: build_query_refund
      position:
        x: 1580
        y: 20
      positionAbsolute:
        x: 1580
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ query }}'
        title: 构造检索词-物流
        type: template-transform
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 54
      id: build_query_logistics
      position:
        x: 1580
        y: 170
      positionAbsolute:
        x: 1580
        y: 170
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ query }}'
        title: 构造检索词-质保
        type: template-transform
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 54
      id: build_query_warranty
      position:
        x: 1580
        y: 320
      positionAbsolute:
        x: 1580
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ query }}'
        title: 构造检索词-安装使用
        type: template-transform
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 54
      id: build_query_usage
      position:
        x: 1580
        y: 470
      positionAbsolute:
        x: 1580
        y: 470
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ query }}'
        title: 构造检索词-其他
        type: template-transform
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 54
      id: build_query_other
      position:
        x: 1580
        y: 620
      positionAbsolute:
        x: 1580
        y: 620
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data: &pageindex_http
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - key: ''
            type: text
            value: '{}'
          type: json
        desc: ''
        headers: 'Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          retry_enabled: false
          max_retries: 1
          retry_interval: 1000
        ssl_verify: true
        timeout:
          connect: 10
          read: 30
          write: 30
        title: PageIndex检索-退换货
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"q":"{{#build_query_refund.output#}}","top_k":5,"scene":"refund"}'
        type: http-request
        url: http://pageindex_official:8790/search
        variables: []
      height: 120
      id: search_pageindex_refund
      position:
        x: 1900
        y: 20
      positionAbsolute:
        x: 1900
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *pageindex_http
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"q":"{{#build_query_logistics.output#}}","top_k":5,"scene":"logistics"}'
        title: PageIndex检索-物流
      height: 120
      id: search_pageindex_logistics
      position:
        x: 1900
        y: 170
      positionAbsolute:
        x: 1900
        y: 170
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *pageindex_http
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"q":"{{#build_query_warranty.output#}}","top_k":5,"scene":"warranty"}'
        title: PageIndex检索-质保
      height: 120
      id: search_pageindex_warranty
      position:
        x: 1900
        y: 320
      positionAbsolute:
        x: 1900
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *pageindex_http
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"q":"{{#build_query_usage.output#}}","top_k":5,"scene":"usage"}'
        title: PageIndex检索-安装使用
      height: 120
      id: search_pageindex_usage
      position:
        x: 1900
        y: 470
      positionAbsolute:
        x: 1900
        y: 470
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *pageindex_http
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"q":"{{#build_query_other.output#}}","top_k":5,"scene":"other"}'
        title: PageIndex检索-其他
      height: 120
      id: search_pageindex_other
      position:
        x: 1900
        y: 620
      positionAbsolute:
        x: 1900
        y: 620
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(query: str = '', start_order_no: str = '', start_phone_tail: str = '') -> dict:\n    text = (query or '').strip()\n    order_no = (start_order_no or '').strip()\n    phone_tail = (start_phone_tail or '').strip()\n\n    if not order_no:\n        patterns = [r'\\bJN\\d{12}\\b', r'\\b[A-Z]{2}\\d{8,}\\b']\n        for pattern in patterns:\n            match = re.search(pattern, text, re.I)\n            if match:\n                order_no = match.group(0).upper()\n                break\n\n    if not phone_tail:\n        phone_patterns = [\n            r'(?:尾号|手机尾号|手机号后?4位|后四位)[^\\d]*(\\d{4})',\n            r'\\b(\\d{4})\\b',\n        ]\n        for pattern in phone_patterns:\n            match = re.search(pattern, text)\n            if match:\n                phone_tail = match.group(1)\n                break\n\n    return {\n        'order_no': order_no,\n        'phone_tail': phone_tail,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          order_no:
            children: null
            type: string
          phone_tail:
            children: null
            type: string
        selected: false
        title: 提取查单参数
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - start
          - order_no
          value_type: string
          variable: start_order_no
        - value_selector:
          - start
          - phone_tail
          value_type: string
          variable: start_phone_tail
      height: 110
      id: extract_order_params
      position:
        x: 960
        y: 760
      positionAbsolute:
        x: 960
        y: 760
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          type: json
          data:
          - key: ''
            type: text
            value: '{"order_no":"{{#extract_order_params.order_no#}}","phone_tail":"{{#extract_order_params.phone_tail#}}","user_query":"{{#sys.query#}}"}'
        desc: ''
        headers: 'Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          retry_enabled: false
          max_retries: 1
          retry_interval: 1000
        ssl_verify: true
        timeout:
          connect: 10
          read: 30
          write: 30
        title: 查询订单接口
        type: http-request
        url: http://jianing_mock:8787/orders/query
        variables: []
      height: 120
      id: query_order_api
      position:
        x: 960
        y: 860
      positionAbsolute:
        x: 960
        y: 860
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data: &json_parse_code
        code: "import json\n\ndef main(response_json: str) -> dict:\n    try:\n        response_body = json.loads(response_json or '{}')\n    except Exception:\n        return {\n            'answer': response_json or '我先帮你定位到相关资料了，但暂时没有整理出可直接展示的答案。你可以换个更具体的问法继续问我。'\n        }\n\n    answer = (response_body.get('answer') or '').strip()\n    if answer:\n        return {'answer': answer}\n\n    hits = response_body.get('hits') or []\n    snippets = []\n    for hit in hits[:2]:\n        title = (hit.get('title') or '').strip()\n        text = (hit.get('text') or '').strip().replace('## ', '')\n        snippet = f'{title}：{text[:120]}'.strip('：')\n        if snippet:\n            snippets.append(snippet)\n\n    if snippets:\n        return {\n            'answer': '我先帮你找到这些相关内容：\\n' + '\\n'.join(f'- {item}' for item in snippets)\n        }\n\n    return {\n        'answer': '我先帮你定位到相关资料了，但暂时没有整理出可直接展示的答案。你可以换个更具体的问法继续问我。'\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          answer:
            children: null
            type: string
        selected: false
        title: 解析JSON-退换货
        type: code
        variables:
        - value_selector:
          - search_pageindex_refund
          - body
          value_type: string
          variable: response_json
      height: 90
      id: parse_pageindex_refund
      position:
        x: 2220
        y: 20
      positionAbsolute:
        x: 2220
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *json_parse_code
        title: 解析JSON-物流
        variables:
        - value_selector:
          - search_pageindex_logistics
          - body
          value_type: string
          variable: response_json
      height: 90
      id: parse_pageindex_logistics
      position:
        x: 2220
        y: 170
      positionAbsolute:
        x: 2220
        y: 170
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *json_parse_code
        title: 解析JSON-质保
        variables:
        - value_selector:
          - search_pageindex_warranty
          - body
          value_type: string
          variable: response_json
      height: 90
      id: parse_pageindex_warranty
      position:
        x: 2220
        y: 320
      positionAbsolute:
        x: 2220
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *json_parse_code
        title: 解析JSON-安装使用
        variables:
        - value_selector:
          - search_pageindex_usage
          - body
          value_type: string
          variable: response_json
      height: 90
      id: parse_pageindex_usage
      position:
        x: 2220
        y: 470
      positionAbsolute:
        x: 2220
        y: 470
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        <<: *json_parse_code
        title: 解析JSON-其他文档
        variables:
        - value_selector:
          - search_pageindex_other
          - body
          value_type: string
          variable: response_json
      height: 90
      id: parse_pageindex_other
      position:
        x: 2220
        y: 620
      positionAbsolute:
        x: 2220
        y: 620
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(response_json: str, query: str = '') -> dict:\n    try:\n        response_body = json.loads(response_json or '{}')\n    except Exception:\n        return {\n            'formatted_answer': response_json or '订单接口返回异常，请稍后重试。'\n        }\n\n    query = (query or '').strip()\n    order_no = response_body.get('order_no') or '未知订单号'\n    status = response_body.get('status') or '未知'\n    items = response_body.get('items') or []\n    if isinstance(items, list):\n        items_text = '、'.join(str(item) for item in items) if items else '暂无商品信息'\n    else:\n        items_text = str(items)\n    carrier = response_body.get('carrier') or '暂无'\n    tracking_no = response_body.get('tracking_no') or '暂无'\n    refund_status = response_body.get('refund_status') or '暂无'\n    latest_progress = response_body.get('latest_progress') or '暂无'\n\n    if ('为什么' in query and '订单' in query and ('还要' in query or '已经查到' in query)) or ('你不是有订单' in query):\n        formatted_answer = (\n            f'我这边其实已经记住订单 {order_no} 了，后面你可以直接继续问物流、退款或售后，不用每次都重新发。\\n\\n'\n            f'当前商品：{items_text}\\n'\n            f'当前状态：{status}\\n'\n            f'最新进度：{latest_progress}'\n        )\n        return {'formatted_answer': formatted_answer}\n\n    if any(keyword in query for keyword in ['型号', '商品', '商品名', '这个商品', '这个订单商品', '这款', '这个杯子']):\n        formatted_answer = (\n            f'我这边能看到这单商品是：{items_text}。\\n\\n'\n            f'订单状态：{status}\\n'\n            f'如果你是想问安装说明、使用方法或质保，我也可以继续按这个商品帮你看。'\n        )\n        return {'formatted_answer': formatted_answer}\n\n    if '什么时候到' in query or '多久到' in query or '到哪了' in query or '到了吗' in query:\n        formatted_answer = (\n            f'我继续帮你看这个订单 {order_no}。\\n\\n'\n            f'当前状态：{status}\\n'\n            f'物流公司：{carrier}\\n'\n            f'物流单号：{tracking_no}\\n'\n            f'最新进度：{latest_progress}'\n        )\n        return {'formatted_answer': formatted_answer}\n\n    formatted_answer = (\n        f'我帮你查到订单 {order_no} 了。\\n\\n'\n        f'当前状态：{status}\\n'\n        f'商品：{items_text}\\n'\n        f'物流公司：{carrier}\\n'\n        f'物流单号：{tracking_no}\\n'\n        f'退款状态：{refund_status}\\n'\n        f'最新进度：{latest_progress}\\n\\n'\n        '如果你还想继续处理退款、催发货或售后问题，也可以直接继续说。'\n    )\n\n    return {\n        'formatted_answer': formatted_answer\n    }\n"
        code_language: python3
        title: 解析JSON-订单
        type: code
        outputs:
          formatted_answer:
            children: null
            type: string
        variables:
        - value_selector:
          - query_order_api
          - body
          value_type: string
          variable: response_json
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 90
      id: parse_order_api
      position:
        x: 1270
        y: 860
      positionAbsolute:
        x: 1270
        y: 860
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#parse_pageindex_refund.answer#}}\n\n如需我继续帮你判断是否符合退换条件，也可以把订单号发我。"
        desc: ''
        selected: false
        title: 回复-退换货
        type: answer
        variables: []
      height: 105
      id: answer_doc_refund
      position:
        x: 2540
        y: 20
      positionAbsolute:
        x: 2540
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#parse_pageindex_logistics.answer#}}\n\n如果你方便，也可以继续把订单号或异常情况发我，我帮你往下看。"
        desc: ''
        selected: false
        title: 回复-物流
        type: answer
        variables: []
      height: 105
      id: answer_doc_logistics
      position:
        x: 2540
        y: 170
      positionAbsolute:
        x: 2540
        y: 170
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#parse_pageindex_warranty.answer#}}\n\n如果你愿意，我也可以继续帮你判断是走换新、维修还是质保。"
        desc: ''
        selected: false
        title: 回复-质保
        type: answer
        variables: []
      height: 105
      id: answer_doc_warranty
      position:
        x: 2540
        y: 320
      positionAbsolute:
        x: 2540
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#parse_pageindex_usage.answer#}}\n\n如果你现在方便，也可以把具体型号或报错现象发我，我继续帮你排查。"
        desc: ''
        selected: false
        title: 回复-安装使用
        type: answer
        variables: []
      height: 105
      id: answer_doc_usage
      position:
        x: 2540
        y: 470
      positionAbsolute:
        x: 2540
        y: 470
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#parse_pageindex_other.answer#}}\n\n如果这个问题还没解决，你也可以补充订单号、照片或更具体的现象，我继续帮你处理。"
        desc: ''
        selected: false
        title: 回复-其他文档
        type: answer
        variables: []
      height: 105
      id: answer_doc_other
      position:
        x: 2540
        y: 620
      positionAbsolute:
        x: 2540
        y: 620
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(query: str = '') -> dict:\n    text = (query or '').strip()\n    normalized = re.sub(r'\\s+', '', text)\n    if not normalized:\n        return {'hint': '空输入'}\n\n    order_patterns = [r'\\bJN\\d{12}\\b', r'\\b[A-Z]{2}\\d{8,}\\b']\n    service_keywords = ['订单', '退款', '退货', '物流', '快递', '签收', '质保', '保修', '维修', '安装', '使用', '说明书', '质量', '故障']\n\n    if any(re.search(pattern, text, re.I) for pattern in order_patterns):\n        return {'hint': text}\n\n    if any(keyword in text for keyword in service_keywords):\n        return {'hint': text}\n\n    if len(normalized) <= 4 or re.fullmatch(r'[A-Za-z0-9\\W_]+', normalized):\n        return {'hint': '无明确售后意图的短输入'}\n\n    return {'hint': '信息不足的模糊输入'}\n"
        code_language: python3
        desc: ''
        outputs:
          hint:
            children: null
            type: string
        selected: false
        title: 兜底输入整理
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
      height: 100
      id: fallback_prep
      position:
        x: 960
        y: 1040
      positionAbsolute:
        x: 960
        y: 1040
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(hint: str = '', query: str = '', order_no: str = '') -> dict:\n    hint = (hint or '').strip()\n    query = (query or '').strip()\n    order_no = (order_no or '').strip()\n\n    if order_no:\n        if '订单' in query or '快递' in query or '物流' in query or '退款' in query or '退货' in query:\n            text = f'我这边还记着订单 {order_no}，你可以直接继续问。'\n        elif hint == '无明确售后意图的短输入':\n            text = f'我这边还记着订单 {order_no}，你可以直接问物流、退款或售后。'\n        else:\n            text = '你可以把问题说得具体一点，我继续结合这个订单帮你看。'\n        return {'text': text}\n\n    if hint == '空输入':\n        text = '你好，发我具体问题就行，我来帮你判断。'\n    elif hint == '无明确售后意图的短输入':\n        text = '你好，你可以直接说下遇到的问题，我来帮你分一下。'\n    elif '订单' in query:\n        text = '可以的，你把订单号发我，我先帮你查一下。'\n    elif any(keyword in query for keyword in ['退款', '退货']):\n        text = '可以，我先帮你看退货退款这类问题。'\n    elif any(keyword in query for keyword in ['物流', '快递', '签收']):\n        text = '可以，我先帮你看物流或签收这类问题。'\n    elif any(keyword in query for keyword in ['质量', '故障', '维修', '质保']):\n        text = '可以，我先帮你看质保和维修这类问题。'\n    elif any(keyword in query for keyword in ['安装', '使用', '说明书']):\n        text = '可以，我先帮你看安装和使用这类问题。'\n    else:\n        text = '你好，你可以把问题说得具体一点，我来帮你判断。'\n\n    return {'text': text}\n"
        code_language: python3
        desc: ''
        outputs:
          text:
            children: null
            type: string
        selected: false
        title: 兜底Agent
        type: code
        variables:
        - value_selector:
          - fallback_prep
          - hint
          value_type: string
          variable: hint
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - start
          - order_no
          value_type: string
          variable: order_no
      height: 100
      id: fallback_agent
      position:
        x: 1290
        y: 1040
      positionAbsolute:
        x: 1290
        y: 1040
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#parse_order_api.formatted_answer#}}"
        desc: ''
        selected: false
        title: 回复-订单查询
        type: answer
        variables: []
      height: 105
      id: answer_order
      position:
        x: 1590
        y: 860
      positionAbsolute:
        x: 1590
        y: 860
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#fallback_agent.text#}}\n\n我目前可以帮你处理这些：\n查订单：例如“帮我查订单 JN202603150001”\n退货退款：例如“退货规则是什么”\n物流签收：例如“物流破损怎么处理”\n质保维修：例如“质量不行怎么办”\n安装使用：例如“怎么安装”\n\n如果你愿意，也可以直接把完整问题发我，我继续帮你判断。"
        desc: ''
        selected: false
        title: 回复-兜底
        type: answer
        variables: []
      height: 120
      id: answer_fallback
      position:
        x: 1620
        y: 1040
      positionAbsolute:
        x: 1620
        y: 1040
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.35
